@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height: ;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin: 0 !important;
    min-height:397px;
}
.camera_wrap img {
	max-width: none !important;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
    /*padding-bottom:99px;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
    background: #fff url(../img/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../img/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:1;
    top: 0;
    padding-bottom:96px;
    background:#fff;
}
.slider > .sh1 {
    position:absolute;
    bottom:-23px;
    left:0;
    width:607px;
    height:23px;
}
.slider > .sh2 {
    position:absolute;
    bottom:-23px;
    right:0;
    width:607px;
    height:23px;  
}
.camera-banner{
	position: absolute;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 1em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	top: 30%;
}
.camera_pag {
	position: absolute;
	z-index: 10;
	bottom:-68px;
	padding:0;
    width: 100%;
    text-align: center;
	display:inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.camera-caption {
	position: absolute;
	bottom:-128px;
    left:0;
	z-index:100;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:#484848;
    font-family:'Open Sans';
    font-size:22px;
    line-height:30px;
    font-weight:600;
    font-style:normal;
    letter-spacing:0;
    background:#fff;
    padding-top:34px;
    padding-left:20px;
    padding-bottom:34px;
    padding-right: 20px;
}
.camera-caption a {
    color:#2f822f;
    font-size:22px;
    line-height: 13px;
    margin-left: 9px;
}
.camera-caption a:hover {
    color:#484848;
}
.camera-caption time {
    position:absolute;
    background:#2f822f;
    color:#fff;
    font-size:20px;
    top: -19px;
    padding:5px 13px 4px 14px;
}
/*.camera-caption .title1 {
    font-family:'Righteous';
    font-size:24px;
    line-height:24px;
    top:0;
    color:#f4d35c;
    letter-spacing:-1px;
    margin-left:13px;
}*/
.camera_prev span, .camera_next span{
	position: absolute;
	display: block;
	width:32px;
	height:33px;
	top: 50%;
	cursor: pointer;
	z-index: 1000;
    margin-top:-17px;
}
.camera_prev span{
	left:0;
	background:url(../img/prev.png) 0 top no-repeat;
}
.camera_prev span:hover{background:url(../img/prev.png) 0 bottom no-repeat;}
.camera_next span{
	right:0;
	background:url(../img/next.png) 0 top no-repeat;
}
.camera_next span:hover{background:url(../img/next.png) 0 bottom no-repeat;}

.slider .camera_pag_ul {
	display: inline-block;
    margin-right: 20px;
}
.camera_pag_ul li{
	display: inline-block;
	text-indent: -100px;
	margin-left:9px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li > div > span{
	cursor: pointer;
	display: block;
	width:34px;
	height:34px;
	text-indent: -100px;
	overflow: hidden;
}
.camera_pag_ul li > div > span p {background: url(../img/thumb_1.png) 0 top no-repeat; width:34px; height:68px;}
.camera_pag_ul li:first-child+li > div > span p {background: url(../img/thumb_2.png) 0 top no-repeat;}
.camera_pag_ul li:first-child+li+li > div > span p {background: url(../img/thumb_3.png) 0 top no-repeat;}

.camera_pag_ul li>div>div{display: none;}
.camera_pag_ul li.cameracurrent div span p, .camera_pag_ul li div span p:hover{margin-top:-34px;}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
.camera_wrap {
    min-height:494px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 980px) and (max-width: 1199px){
.camera_wrap {
    min-height:397px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 979px){
.camera_wrap {
    min-height:306px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px){
.camera_wrap {
    min-height: 200px;
}
.slider > .sh1 {
   width: 267px; 
   bottom: -17px;
}
.slider > .sh2 {
   width: 267px; 
   bottom: -17px; 
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 626px) and (max-width: 767px) { 
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
.camera_wrap {
    min-height: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
