@import url(//fonts.googleapis.com/css?family=Cabin:400,600,700);

/* Estilos Globales */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #E8F0F2 ;
  font: 13px Tahoma, Arial, Helvetica, sans-serif;
  color: #a8a2a2;
  margin: 0;
  line-height: 20px;
}
main {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 5%;  
  padding-right: 5%;
}

a {
  color: #292929;
  text-decoration: none;
}
a:hover {
  color: #626262;
  text-decoration: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  line-height: 1.3;
  color: #3f3f3f;
}

h2 {
  font-size: 32px;
  margin-bottom: 27px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}

p {
  margin: 0 0 10px;
}
strong {
  font-weight: bold;
}
small {
  font-size: 85%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* Estilos de Componentes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilos para Header y Navegación */
header {
  padding: 84px 0;
  text-align: center;
}

h1.brand a img {
  width: 70%;
}

.navbar {
  overflow: visible;
  margin-bottom: 20px;
}
.navbar .nav > li {
  float: center;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}
.navbar .brand {
  float: flex;
  display: block;
  padding: 10px 20px 10px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar_ .nav-collapse_ .nav li {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.nav-collapse_ .nav li a {
  color: #979797;
  font-size: 16px;
  letter-spacing: 2px;
  transition: color 0.35s ease;
}
.nav-collapse_ .nav li a:hover {
  color: #262626;
}

.navbar-inner {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  box-shadow: none;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 0 0 0;
}
.nav a {
  color: #5b5b5b;
  text-decoration: none;
}
.nav a:hover {
  color: #ffb354;
}
.nav > li > a {
  display: block;
}
/* Efectos de Imagen */
.img-hover img {
  transition: opacity 0.5s ease;
}
.img-hover img:hover {
  opacity: 0.8;
}
.img-sobremi {
  max-width: 100%;
  width: 200px; /* Cambia este valor según necesites */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block; /* Asegura que el espacio extra sea eliminado */
  margin: 0 auto; /* Centra la imagen */
}


/* Sección de Cuadrícula */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* Estilos animados al hacer scroll */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.justified-text {
  text-align: justify; /* Justifica el texto */
  margin: 0 0 20px;
  padding: 0 10px; /* Añade espacio entre párrafos */
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
  justify-content: space-between; /* Espaciado entre los elementos */
  margin-top: 20px; /* Espacio superior */
}

.flex-item {
  flex: 1; /* Toma el mismo espacio disponible */
  min-width: 250px; /* Ajusta según lo necesites */
  margin: 10px; /* Espacio entre las divisiones */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
  padding: 20px; /* Espacio interno */
  border-radius: 10px; /* Esquinas redondeadas */
  text-align: center; /* Centra el texto */
  background-color: #f9f9f9; /* Fondo suave */
  transition: transform 0.3s; /* Efecto al pasar el mouse */
}

.flex-item:hover {
  transform: translateY(-5px); /* Levanta la caja al pasar el mouse */
}

.flex-item i {
  font-size: 2em; /* Tamaño del icono */
  color: #007bff; /* Color del icono */
  margin-bottom: 10px; /* Espacio debajo del icono */
}

h3 {
  font-size: 1.5em; /* Tamaño de los encabezados */
  margin: 10px 0; /* Espacio superior e inferior */
}

p {
  font-size: 1.1em; /* Tamaño del texto */
  color: #555; /* Color del texto */
}

@media (max-width: 600px) {
  .flex-item {
      flex: 100%; /* En pantallas pequeñas, cada elemento ocupa el 100% */
  }
}



/* Espaciado y estilo de fondo con imágenes */
.parallax {
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2em;
}
.parallax-bg1 {
  background-image: url('../img/nature-wing-sky-sport-air-adventure-559488-pxhere.com.jpg');
}

.parallax-bg2 {
  background-image: url('../img/man-landscape-sea-tree-nature-rock-834525-pxhere.com.jpg');
}

.parallax-bg3 {
  background-image: url('../img/nature-grass-girl-woman-meadow-sunlight-1235940-pxhere.com.jpg');
}

@media (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  
}

/* Estilos de Secciones */

.section-inicio {
  padding: 40px 0;
  background-color: #E0F7FA ;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-bienvenida {
  padding: 40px 0;
  background-color: #FFF9C4 ;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-menu {
  padding: 10px 0;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-sobremi {
  padding: 40px 0;
  background-color: #B2EBF2 ;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.section-servicios {
  padding: 40px 0;
  background-color: #FFEBEE ;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section-contacto {
  padding: 40px 0;
  background-color: #E1BEE7 ;
  border: 2px solid #f1a6a6;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.section.bg-light {
  background-color: #f8f9fa;
}

.terapia-boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.terapia-boxes .box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: box-shadow 0.3s ease;
}
.terapia-boxes .box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
/* Estilo para los detalles (summary) */
.terapia-boxes details summary {
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
}

/* Estilo para los párrafos dentro de los detalles */
.terapia-boxes details p {
  margin-top: 10px;
  font-size: 1em;
}

/* Ajuste para evitar borde en el summary */
.terapia-boxes details[open] summary {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .terapia-boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .terapia-boxes {
    grid-template-columns: 1fr;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffb354; /* Color del fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #ff9c3b; /* Color del fondo al pasar el mouse */
}


/* Footer */
footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #ffb354;
}
footer a:hover {
  text-decoration: underline;
}
