@import url(//fonts.googleapis.com/css?family=Cabin:400,600,700);

/* Estilos Globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #DCE1DA; /* Color de fondo */
  font: 13px Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 20px;
}

main {
  position: relative; /* Asegúrate de que el main tenga un contexto de posición */
  padding: 30px 5%; /* Ajuste del padding para dejar espacio a los lados */
  z-index: 1; /* Para que el contenido esté por encima del fondo */
  overflow: hidden; /* Para ocultar el desbordamiento del fondo */
}

.background-content {
  position: fixed; /* Fijo para el efecto de parallax */
  padding: 30px;
  z-index: -1; /* Asegúrate de que el fondo esté detrás del contenido */
  left: 50%;
  transform: translateX(-50%); /* Centrar el fondo */
  width: 90%; /* Deja un 5% a cada lado */
  height: 90%; /* Ocupa toda la altura menos el margen inferior */
}

.background-content-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Mantener el 100% de la altura */
  transform: translate(-50%, -50%);
}

.background-content .background-img {
  position: relative; /* Cambiado a absolute para ocupar todo el fondo */
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%; /* Ocupa toda la altura */
  background-image: url('../img/5696176.jpg'); /* Cambia a tu imagen */
  background-size: auto; /* Cambiado a auto para mantener el tamaño original */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-attachment: fixed; /* Fijo para el efecto parallax */
  background-position: center; /* Asegura que el fondo esté centrado */
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ajustar para ocupar todo el ancho */
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Opcional: un overlay para ajustar el contraste */
}


a {
  color: #292929;
  text-decoration: none;
}
a:hover {
  color: #626262;
  text-decoration: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "Apple Chancery",  Cursive;
  font-weight: bold;
  line-height: 1.3;
  color: #3f3f3f;
}

h2 {
  font-size: 38px;
  margin-bottom: 20px; /* Ajustado */
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}


strong {
  font-weight: bold;
}
small {
  font-size: 85%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

/* Estilos de Componentes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilos para Header y Navegación */
header {
  padding: 60px 0; /* Ajustado */
  text-align: center;
}

h1.brand a img {
  width: 70%;
}

/* Estilos para el Menú */
.navbar {
  display: flex; /* Usar flexbox para el menú */
  justify-content: space-around; /* Distribuir uniformemente los elementos */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente línea */
  background-color: #fffbf5; /* Color de fondo */
  padding: 10px 0; /* Espacio alrededor del menú */
  border-radius: 10px; /* Bordes redondeados */
}

.navbar .nav {
  display: flex; /* Usar flexbox para la lista de navegación */
  list-style: none; /* Quitar puntos de la lista */
  padding: 0; /* Quitar padding */
  margin: 0; /* Quitar margin */
  width: 100%; /* Hacer que la lista ocupe todo el ancho */
  justify-content: space-between; /* Distribuir los elementos con espacio entre ellos */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten a la siguiente línea */
}

.navbar .nav > li {
  flex: 1 1 150px; /* Cada elemento del menú puede crecer y ocupar un mínimo de 150px */
  text-align: center; /* Centrar el texto */
  margin: 5px; /* Espacio entre los elementos del menú */
}

.navbar .nav > li > a {
  font-family: 'Georgia', serif;
  font-size: 20px;
  display: block; /* Hacer que todo el área del enlace sea clickeable */
  padding: 10px 15px; /* Espacio interno */
  color: #292929; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  border: 2px solid #f4978e; /* Borde del enlace */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

.navbar .nav > li > a:hover {
  background-color: #f4978e; /* Color de fondo al pasar el mouse */
  color: #fff; /* Color del texto al pasar el mouse */
}

@media (max-width: 600px) {
  .navbar .nav > li {
    flex: 1 1 auto; /* Permitir que cada elemento del menú ocupe el espacio disponible */
  }
}


/* Efectos de Imagen */
.img-hover img {
  transition: opacity 0.5s ease;
}
.img-hover img:hover {
  opacity: 0.8;
}
.img-sobremi {
  max-width: 100%;
  max-height: 300px; /* Igual que el ancho para mantener la proporción */
  display: block;
  margin: 0 auto;
}

/* Sección de Cuadrícula */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  .grid-item-img {
    padding-bottom: 30px;
    order: 1; /* Mover el texto debajo de la imagen */
  }

  .grid-item-txt {
    order: 2; /* Mover el texto debajo de la imagen */
  }
}

/* Estilos animados al hacer scroll */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.justified-text {
  text-align: justify;
  font-size: 18px;
  margin: 0 0 20px;
  padding: 0 10px;
  line-height: 1.6;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.flex-item {
  flex: 1;
  min-width: 150px;
  margin: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.3s;
  border: 2px solid #f4978e; /* Color del borde */
}

.flex-item:hover {
  transform: translateY(-5px);
}

.flex-item i {
  font-size: 2em;
  color: #f08080;
  margin-bottom: 10px;
}

h3 {
  font-size: 22px;
  margin: 10px 0;
}

p {
  font-size: 20px;
  color: #555;
}

@media (max-width: 600px) {
  .flex-item {
      flex: 100%;
  }
}

.parallax {
  background-size: cover;
  background-attachment: fixed; /* Mantiene el fondo fijo */
  min-height: 300px; /* Ajusta según tus necesidades */
  position: relative; /* Para superponer contenido */
  overflow: hidden;
}

.parallax-bg1 {
  background-image: url('../img/your-image.jpg'); /* Cambia a tu imagen */
}

.parallax-bg2 {
  background-image: url('../img/5696176.jpg'); /* Cambia a tu imagen */
}

/* Estilo para el video */
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Envía el video detrás */
  transform: translate(-50%, -50%);
}

/* Oculta el parallax en móviles para evitar problemas */
@media (max-width: 768px) {
  .parallax {
      background-attachment: scroll; /* Cambia a scroll en móviles */
      position: relative; /* Asegúrate de que el contenido se superponga */
  }
  .parallax-bg2 {
    background-attachment: fixed; /* Cambia a scroll en móviles */
}
}

.section-empty {
  min-height: 300px;
}
/* Estilos de Secciones */
.section-contacto {
  background-image: url('../img/5777487.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir todo el área */
  background-position: center; /* Centra la imagen */
  padding: 20px 0; /* Ajustado para mayor cercanía */
  /*background-color: #ECB7B3; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
  min-height: 200px; /* Ajusta la altura total para ambas secciones */
  /*border-left: 2px solid #f4978e; */
  /*border-right: 2px solid #f4978e;  Borde derecho */
}
.section-inicio {
  background-image: url('../img/5793628.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir todo el área */
  background-position: top center; /* Centra la imagen */
  padding: 20px 0; /* Ajustado para mayor cercanía */  
  background-color: #ECB7B3; /* Color de fondo nuevo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding-bottom: 50px;
}
.section-menu {
  padding: 20px 0; /* Ajustado para mayor cercanía */
  background-color: #fffbf5; /* Color de fondo nuevo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #f4978e; /* Borde derecho */
}
.section-bienvenida {
  background-image: url('../img/5708775.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir todo el área */
  background-position: top center; /* Centra la imagen */
  padding: 20px 0; /* Ajustado para mayor cercanía */
  padding-bottom: 50px;
  background-color: #FBE0D9; /* Color de fondo nuevo */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #f4978e; /* Borde derecho */
}
.section-background {
  background-image: url('../img/stylish-memphis-abstract-background-design.jpg');
  background-size: cover; /* Ajusta la imagen para cubrir todo el área */
  background-position: center; /* Centra la imagen */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 800px; /* Ajusta la altura total para ambas secciones */
}
.section-sobremi,
.section-servicios {
  padding: 20px 0; /* Ajustado para mayor cercanía */
  padding-bottom: 50px;
  /*background-color: #fffbf5; */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 400px;
}
.section.bg-light {
  background-color: #f8f9fa;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffb354;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #ff9c3b;
}

/* Footer */
footer {
  background-color: #8E929B ;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #555;
}
footer a:hover {
  text-decoration: underline;
}

.footer-text {
  font-size: 16px;
}

.contact-info {
  display: flex;
  flex-direction:row; /* Alinear verticalmente */
  justify-content: center; /* Centrar los items horizontalmente */
}

.contact-text {
  font-size: 16px;
}

.contact-item {
  font-family: "Apple Chancery", "Lucida Handwriting", "Brush Script MT", "Dancing Script", "Great Vibes", "Pacifico", cursive;
  font-size: 16px; /*margen horizontal entre los items (20px en total entre dos items) */
  display: flex; /* Usar flexbox para alinear el icono y el texto */
  align-items: center;
  
  margin: 0 5%; /* Margen del 20% a los lados */ /* Centrar verticalmente el contenido dentro de cada item */
}

#cookie-banner {
  background-color: #702b2b;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}
#cookie-banner p {
  margin: 0;
  display: inline;
}
#cookie-banner button {
  margin-left: 15px;
  padding: 5px 10px;
}
